@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  @apply bg-gray-950 text-gray-100 min-h-screen;
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom, 0px);
}
